*{
    margin: 0;
    pad: 0;
}
.nav-container{
    display: flex;
    background-color:gray;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    
}
.menu-bar{
    list-style: none;
    display: flex;
    /* margin-right: 10px; */
    gap: 15px;
    font-size: 17px;
    font-style: italic;
    
}
.item:hover{
    color: blue;

}
.banar-container{
    height: 100vh;
    background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0,0,0,2),rgba(0,0,0,4));
    /* background-blend-mode: overlay; */
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}